
@if (Processing)
{
    <div class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

<div class="progress">
    <div class="progress-bar @ProgressBarStyle" role="progressbar" style="width: @ProgressDisplay;">@Processed / @Total</div>
</div>

@code {

    [Parameter]
    public string ProgressDisplay { get; set; }

    [Parameter]
    public int Processed { get; set; }

    [Parameter]
    public int Total { get; set; }

    [Parameter]
    public string ProgressBarStyle { get; set; }

    public bool Processing => 
        (Processed > 0) 
        && (Total > Processed);
}
