@page "/"


<div class="container marketing">

    <div class="jumbotron">
        <h1 class="pull-right display-4">Welcome to Spotify Stalker!</h1>
    </div>

    <div class="row">

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" role="img" width="140" height="140" src="/assets/images/logo_lg.png" alt="Spotify Stalker">

            <h2>Spotify Stalking sounds wrong</h2>
            <p><i>Spotify Stalking</i> is a thing that this website helps you do. I didn't invent it. Yes, it's kind of wrong.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" role="img" width="140" height="140" src="/assets/images/logo_lg_alt1.png" alt="Spotify Stalker">

            <h2>Okay, what is it?</h2>
            <p>Basically, it's looking at someone's <b>public</b> Spotify data, which is their playlists they didn't set to private. From their playlists, we can extrapolate their favorite artists, genres, and also the <i>metrics</i> of their musical tastes, as calculated by Spotify.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" role="img" width="140" height="140" src="/assets/images/logo_lg_alt2.png" alt="Spotify Stalker">

            <h2>Metrics? What are you talking about?</h2>
            <p>From those metrics, we can tell how happy the person is, how good they are, and how long they'll live, give or take 5 years.</p>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

</div>