<div class="top-row pl-4 navbar navbar-dark">
    <span>
        <span>
            <img width="30" height="30" src="/assets/images/logo_md.png" alt="Spotify Stalker" />
        </span>
        <a class="navbar-brand" href="">Spotify Stalker</a>
    </span>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="findperson">
                <span class="oi oi-person" aria-hidden="true"></span> Find Someone To Stalk
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stalk">
                <span class="oi oi-eye" aria-hidden="true"></span> Stalk
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
